[package]
name = "nzfcc"
version = "0.1.0"
edition = "2024"

[dependencies]
serde = { version = "1", features = ["derive"], optional = true }

[build-dependencies]
serde = { version = "1", features = ["derive"] }
serde_json = "1"

[features]
serde = ["dep:serde"]
